body
{

    height:auto;
    background: url(../img/background-texture/new_year_background.png);
}

.text-capitalize
{
    font-size:5em;
color: rgba(106,171,212,.7);
    
font-weight: 100;
}

br{
    
}


.socialmedia
{
   
 
}










